
.new_local_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-spacing: 10;
    -fx-alignment: center_left;
}

.new_local_container Label {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_local_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}
.new_local_container DatePicker {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}
.new_local_container Button {
    -fx-background-color: linear-gradient(to left, #cc181a, #c34646);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}
.save_button {
    -fx-background-color: linear-gradient(to left, #c72424, #4648c3);
}
.update_button {
    -fx-background-color: linear-gradient(to left, #e0c048, #cbb22f);
}
.new_local_container Button:hover {
    -fx-cursor: hand;
}
.page_title {
    -fx-text-fill: #cc181a;
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
}
